<div class="trading">
  <style>
    .trading {
      background-color: #F7F7F7;
      padding-top: 105px;
    }
    .trading .title {
      font-size: 40px;
      color: #16161F;
      text-align: center;
      margin-bottom: 30px;
    }
    .trading .title span {
      font-weight: 600;
    }
    .trading .sub-title {
      font-size: 18px;
      color: #16161F;
      text-align: center;
    }
    .trading .register-box {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 80px;
    }
    .trading .register-box .input {
      width: 587px;
      height: 57px;
      border-radius: 10px;
      padding-left: 30px;
      background-color: #fff;
    }
    .trading .register-box .input::placeholder {
      color: #A7B4CB;
      font-size: 14px;
    }
    .trading .register-box .btn {
      width: 215px;
      height: 56px;
      line-height: 57px;
      text-align: center;
      font-size: 16px;
      color: #fff;
      border-radius: 12px;
      background-color: #1269FF;
      position: relative;
      left: -40px;
      cursor: pointer;
    }
  </style>

  <p class="title">
    {{locale.home.question}}
  </p>
  <p class="sub-title">
    {{locale.home.questionTip}}
  </p>
  <div class="register-box">
    <input type="text" class="input" placeholder="{{locale.home.email}}">
    <div class="btn">
      {{locale.home.register}}
    </div>
  </div>

  <script>
        (() => {
            const $registerBtn = document.querySelector('.register-box .btn');
            $registerBtn.addEventListener('click', () => {
              location.href = '/register';
            });
        })();
    </script>
</div>