<div class="inter-tableContentBase lxg-market-container inter-tableContent lxg-market-container" id="table-content">
    <style>
        .home-table {
            min-width: 1100px;
            width: 100%;
            font-size: 12px;
        }

        .home-table .home-loading {
            height: 300px;
            position: relative;
        }

        .home-table .home-loading .loading-page {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate3d(-50%, -50%, 0);
        }

        .home-table .home-nodata {
            height: 300px;
            position: relative;
            padding: 80px 0 80px;
            text-align: center;
            font-size: 12px;
            box-sizing: border-box;
        }

        .home-table .home-nodata p {
            margin-top: 5px;
        }

        .home-table .home-nodata .icon {
            font-size: 36px;
        }

        .home-table .home-thead {
            user-select: none;
            width: 100%;
            font-size: 12px;
            border-bottom-width: 1px;
            border-bottom-style: solid;
            height: 30px;
            padding: 0 20px;
            box-sizing: border-box;
        }

        .home-table .home-thead .sortable {
            cursor: pointer;
        }

        .home-table .home-thead li {
            height: 30px;
            line-height: 30px;
            text-align: right;
            float: left;
        }

        .home-table .home-thead li:nth-child(1) {
            width: 12%;
        }

        .home-table .home-thead li:nth-child(2) {
            width: 15%;
        }

        .home-table .home-thead li:nth-child(3) {
            width: 13%;
        }

        .home-table .home-thead li:nth-child(4) {
            width: 15%;
        }

        .home-table .home-thead li:nth-child(5) {
            width: 15%;
        }

        .home-table .home-thead li:nth-child(6) {
            width: 15%;
        }

        .home-table .home-thead li:nth-child(7) {
            width: 15%;
        }

        .home-table .home-thead li:first-child {
            text-align: left;
        }

        .home-table .home-tbody-box {
            transition: all 0.5s;
        }

        .home-table .home-tbody .home-tbody-title {
            height: 55px;
            border-bottom-width: 1px;
            border-bottom-style: solid;
            line-height: 55px;
        }

        .home-table .home-tbody .home-tbody-title .lable {
            border-left-width: 3px;
            border-left-style: solid;
            padding-left: 10px;
            margin-left: 1px;
        }

        .home-table .home-tbody .home-tbody-list .home-tbody-li {
            height: 55px;
            border-bottom-width: 1px;
            border-bottom-style: solid;
            padding: 0 20px;
            overflow: hidden;
        }

        .home-table .home-tbody .home-tbody-list .home-tbody-li .even {
            line-height: 55px;
            float: left;
            text-align: right;
        }

        .home-table .home-tbody .home-tbody-list .home-tbody-li .even:nth-child(1) {
            width: 12%;
        }

        .home-table .home-tbody .home-tbody-list .home-tbody-li .even:nth-child(2) {
            width: 15%;
        }

        .home-table .home-tbody .home-tbody-list .home-tbody-li .even:nth-child(3) {
            width: 13%;
        }

        .home-table .home-tbody .home-tbody-list .home-tbody-li .even:nth-child(3):after {
            content: '';
            display: inline-block;
            height: 100%;
            vertical-align: middle;
        }

        .home-table .home-tbody .home-tbody-list .home-tbody-li .even:nth-child(4) {
            width: 15%;
        }

        .home-table .home-tbody .home-tbody-list .home-tbody-li .even:nth-child(5) {
            width: 15%;
        }

        .home-table .home-tbody .home-tbody-list .home-tbody-li .even:nth-child(6) {
            width: 15%;
        }

        .home-table .home-tbody .home-tbody-list .home-tbody-li .even:nth-child(7) {
            width: 15%;
        }

        .home-table .home-tbody .home-tbody-list .home-tbody-li .even .rose-label {
            display: inline-block;
            width: 70px;
            height: 24px;
            text-align: center;
            line-height: 24px;
            padding: 0;
        }

        .home-table .home-tbody .home-tbody-list .home-tbody-li .even .evenSymbol {
            margin-left: 22px;
            font-weight: 700 !important;
            cursor: pointer;
            font-size: 14px;
            position: relative;
        }

        .home-table .home-tbody .home-tbody-list .home-tbody-li .even .evenSymbol .coin-label {
            position: absolute;
            right: 0;
            transform: translateX(100%);
            top: 0;
            white-space: nowrap;
            position: absolute;
            right: -5px;
            transform: translateX(100%);
            top: -4px;
            white-space: nowrap;
            display: inline-block;
            font-size: 12px;
            font-weight: 400;
            padding: 0px 4px;
            border-radius: 2px;
            line-height: 17px;
            overflow: hidden;
        }

        .home-table .home-tbody .home-tbody-list .home-tbody-li .even .evenSymbol .coin-label .coin-label {
            position: relative;
            z-index: 1;
            margin: 0;
            padding: 0;
        }

        .home-table .home-tbody .home-tbody-list .home-tbody-li .even .evenSymbol .coin-label .coin-bg {
            display: inline-block;
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            opacity: 0.2;
        }

        .home-table .home-tbody .home-tbody-list .home-tbody-li .even .marketIcon {
            cursor: pointer;
        }

        .home-table .home-tbody .home-tbody-list .home-tbody-li .newPrice {
            line-height: auto !important;
            padding-top: 14px;
            box-sizing: border-box;
        }

        .home-table .home-tbody .home-tbody-list .home-tbody-li .newPrice p {
            line-height: 15px;
        }

        .home-table .home-tbody .home-tbody-list .home-tbody-li .newPrice .price {
            font-size: 14px;
        }

        .home-table .home-tbody .home-tbody-list .home-tbody-li .even:first-child {
            text-align: left;
            position: relative;
        }

        .tableContent {
            width: 1180px;
            margin: 50px auto 0 auto;
            position: relative;
            box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.2);
        }

        .tableContent .common-table {
            background: none;
        }

        .tableContent .market-title-box {
            border-bottom-width: 1px;
            border-bottom-style: solid;
            height: 55px;
            line-height: 53px;
            padding-right: 320px;
            padding-left: 20px;
            border-radius: 2px 2px 0 0;
        }

        .tableContent .market-title {
            display: flex;
            text-align: center;
        }

        .tableContent .market-title li {
            float: left;
            height: 53px;
            line-height: 55px;
            cursor: pointer;
            user-select: none;
            flex: 1;
        }

        .tableContent .market-title li.selected {
            border-bottom-width: 2px;
            border-bottom-style: solid;
        }

        .tableContent .search {
            position: absolute;
            top: 12px;
            right: 20px;
            height: 28px;
            line-height: 26px;
            width: 200px;
            border-radius: 2px;
            border-width: 1px;
            border-style: solid;
        }

        .tableContent .search .icon-serach {
            margin: 0 10px;
            display: inline-block;
        }

        .tableContent .search .search-input {
            line-height: 26px;
            border: none;
            width: 165px;
        }

        .tableContent .search input::-webkit-input-placeholder {
            color: #515a6b;
        }

        .tableContent .table-body td .rose-label {
            display: inline-block;
            width: 70px;
            height: 24px;
            text-align: center;
            line-height: 24px;
            padding: 0;
        }

        .tableContent .table-body td .symbolName,
        .tableContent .table-body td .icon-btn {
            padding: 0;
            vertical-align: inherit;
            margin: 0;
            display: inline-block;
        }

        .tableContent .table-body td .symbolName {
            width: 80%;
            margin-left: 10px;
        }

        .tableContent .fontSize14 {
            font-size: 14px;
        }

        .momo-market-container {
            background: #f5f5f8;
            width: 100%;
            height: 560px;
        }

        .momo-market-container.inter-tableContentBase {
            position: relative;
        }

        .momo-market-container.inter-tableContentBase .bitsg-market-top {
            height: 230px;
        }

        .momo-market-container.inter-tableContentBase .bitsg-market-top .bitsg-market-topL {
            float: left;
        }

        .momo-market-container.inter-tableContentBase .bitsg-market-top .bitsg-market-topL .market-topLT {
            font-family: Helvetica;
            font-size: 14px;
            color: #979797;
            letter-spacing: 0;
            line-height: 24px;
            margin-top: 70px;
        }

        .momo-market-container.inter-tableContentBase .bitsg-market-top .bitsg-market-topL .market-topLT .market-topLTspan {
            display: inline-block;
            width: 25px;
            height: 7px;
            border-radius: 2px;
        }

        .momo-market-container.inter-tableContentBase .bitsg-market-top .bitsg-market-topL .market-topLB {
            font-family: Helvetica-Bold;
            font-size: 38px;
            color: #282830;
            letter-spacing: 0;
            line-height: 50px;
        }

        .momo-market-container.inter-tableContentBase .bitsg-market-top .bitsg-market-topR {
            float: right;
        }

        .momo-market-container.inter-tableContentBase .bitsg-market-top .bitsg-market-topR button {
            height: 40px;
            width: 150px;
            margin-top: 90px;
            border-radius: 4px;
            border-width: 1px;
            border-style: solid;
        }

        .momo-market-container.inter-tableContentBase .common-table {
            background: none;
        }

        .momo-market-container.inter-tableContentBase .market-table {
            width: 1180px;
            margin: 0 auto 0 auto;
            background: #fff;
            box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
            border-radius: 4px;
        }

        .momo-market-container.inter-tableContentBase .market-table .borderRadius {
            border-radius: 4px 0 0 0;
        }

        .momo-market-container.inter-tableContentBase .market-table .home-thead {
            background: #fcfcff;
            border: none;
        }

        .momo-market-container.inter-tableContentBase .market-table .home-tbody-li {
            border-bottom-color: #f6f6f6;
        }

        .momo-market-container.inter-tableContentBase .market-table .home-tbody-title {
            border: none;
        }

        .momo-market-container.inter-tableContentBase .market-table .hoverClass {
            box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.1);
            border-radius: 4px;
            padding: 0 10px;
        }

        .momo-market-container.inter-tableContentBase .market-table .checkAll {
            display: block;
            line-height: 55px;
            text-align: center;
        }

        .momo-market-container.inter-tableContentBase .market-table .checkAll span {
            color: #5742d9;
            cursor: pointer;
            font-size: 14px;
        }

        .momo-market-container.inter-tableContentBase .market-title-box {
            height: 55px;
            line-height: 53px;
            border-radius: 2px 2px 0 0;
        }

        .momo-market-container.inter-tableContentBase .home-tbody-box {
            max-height: 500px;
            overflow-y: scroll;
        }

        .momo-market-container.inter-tableContentBase .market-title {
            text-align: center;
        }

        .momo-market-container.inter-tableContentBase .market-title li {
            float: left;
            height: 53px;
            line-height: 55px;
            cursor: pointer;
            user-select: none;
            padding: 0 25px;
        }

        .momo-market-container.inter-tableContentBase .market-title li.selected {
            border-bottom-width: 2px;
            border-bottom-style: solid;
        }

        .momo-market-container.inter-tableContentBase .search {
            position: absolute;
            top: 15px;
            right: 20px;
            height: 28px;
            line-height: 26px;
            width: 200px;
            border-radius: 2px;
            backgorund: #fff;
            border: 1px solid #f6f6f6;
        }

        .momo-market-container.inter-tableContentBase .search .icon-serach {
            margin: 0 10px;
        }

        .momo-market-container.inter-tableContentBase .search .search-input {
            line-height: 26px;
            border: none;
            width: 162px;
        }

        .momo-market-container.inter-tableContentBase .search input::-webkit-input-placeholder {
            color: #515a6b;
        }

        .momo-market-container.inter-tableContentBase .table-body td .rose-label {
            display: inline-block;
            width: 70px;
            height: 24px;
            text-align: center;
            line-height: 24px;
            padding: 0;
        }

        .momo-market-container.inter-tableContentBase .table-body td .symbolName,
        .momo-market-container.inter-tableContentBase .table-body td .icon-btn {
            padding: 0;
            vertical-align: inherit;
            margin: 0;
            display: inline-block;
        }

        .momo-market-container.inter-tableContentBase .table-body td .symbolName {
            width: 80%;
            margin-left: 10px;
        }

        .momo-market-container.inter-tableContentBase .fontSize14 {
            font-size: 14px;
        }

        .momo-market-container .home-nodata {
            height: 500px;
            padding: 160px 0 80px;
        }

        .lxg-market-container {
            background: #fff;
            width: 100%;
            padding: 74px 0 110px;
        }

        .lxg-market-container.inter-tableContentBase {
            position: relative;
        }

        .lxg-market-container.inter-tableContentBase .bitsg-market-top {
            height: 230px;
        }

        .lxg-market-container.inter-tableContentBase .bitsg-market-top .bitsg-market-topL {
            float: left;
        }

        .lxg-market-container.inter-tableContentBase .bitsg-market-top .bitsg-market-topL .market-topLT {
            font-family: Helvetica;
            font-size: 14px;
            color: #979797;
            letter-spacing: 0;
            line-height: 24px;
            margin-top: 70px;
        }

        .lxg-market-container.inter-tableContentBase .bitsg-market-top .bitsg-market-topL .market-topLT .market-topLTspan {
            display: inline-block;
            width: 25px;
            height: 7px;
            border-radius: 2px;
        }

        .lxg-market-container.inter-tableContentBase .bitsg-market-top .bitsg-market-topL .market-topLB {
            font-family: Helvetica-Bold;
            font-size: 38px;
            color: #282830;
            letter-spacing: 0;
            line-height: 50px;
        }

        .lxg-market-container.inter-tableContentBase .bitsg-market-top .bitsg-market-topR {
            float: right;
        }

        .lxg-market-container.inter-tableContentBase .bitsg-market-top .bitsg-market-topR button {
            height: 40px;
            width: 150px;
            margin-top: 90px;
            border-radius: 4px;
            border-width: 1px;
            border-style: solid;
        }

        .lxg-market-container.inter-tableContentBase .common-table {
            background: none;
        }

        .lxg-market-container.inter-tableContentBase .market-table {
            width: 1200px;
            margin: 0 auto 0 auto;
            border-radius: 4px;
            color: #31363e;
        }

        .lxg-market-container.inter-tableContentBase .market-table .borderRadius {
            border-radius: 4px 0 0 0;
        }

        .lxg-market-container.inter-tableContentBase .market-table .home-thead {
            height: 40px;
            line-height: 40px;
            font-size: 14px;
            color: #aebacd;
            border-bottom: 1px solid #e2e9ef;
        }

        .lxg-market-container.inter-tableContentBase .market-table .home-thead li {
            height: 40px;
            line-height: 40px;
            text-align: left;
            box-sizing: border-box;
        }

        .lxg-market-container.inter-tableContentBase .market-table .home-thead li.item0 {
            padding-left: 85px;
        }

        .lxg-market-container.inter-tableContentBase .market-table .home-tbody-li {
            border-bottom-color: #e2e9ef;
            height: 85px;
            padding-top: 15px;
            box-sizing: border-box;
            padding-right: 0;
        }

        .lxg-market-container.inter-tableContentBase .market-table .home-tbody-li .item3 {
            margin-top: 14px;
        }

        .lxg-market-container.inter-tableContentBase .market-table .home-tbody-title {
            border: none;
        }

        .lxg-market-container.inter-tableContentBase .market-table .hoverClass {
            box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.1);
            border-radius: 4px;
            padding-top: 15px;
        }

        .lxg-market-container.inter-tableContentBase .market-table .checkAll {
            line-height: 85px;
            text-align: center;
        }

        .lxg-market-container.inter-tableContentBase .market-table .checkAll span {
            color: #5742d9;
            cursor: pointer;
            font-size: 14px;
        }

        .lxg-market-container.inter-tableContentBase .market-table .item0 {
            width: 215px !important;
        }

        .lxg-market-container.inter-tableContentBase .market-table .item1 {
            width: 140px !important;
        }

        .lxg-market-container.inter-tableContentBase .market-table .item2 {
            width: 134px !important;
        }

        .lxg-market-container.inter-tableContentBase .market-table .item3 {
            width: 100px !important;
            margin-right: 40px;
        }

        .lxg-market-container.inter-tableContentBase .market-table .item4 {
            width: 134px !important;
        }

        .lxg-market-container.inter-tableContentBase .market-table .item5 {
            width: 134px !important;
        }

        .lxg-market-container.inter-tableContentBase .market-table .item6 {
            width: 134px !important;
        }

        .lxg-market-container.inter-tableContentBase .market-table .item7 {
            width: 129px !important;
        }

        .lxg-market-container.inter-tableContentBase .market-table .rose-label {
            background: none;
        }

        .lxg-market-container.inter-tableContentBase .market-title-box {
            height: 85px;
            line-height: 85px;
            border-radius: 2px 2px 0 0;
        }

        .lxg-market-container.inter-tableContentBase .home-tbody-box {
            max-height: 687px;
            overflow-y: scroll;
            font-size: 14px;
        }

        .lxg-market-container.inter-tableContentBase .market-title {
            text-align: center;
        }

        .lxg-market-container.inter-tableContentBase .market-title li {
            float: left;
            height: 85px;
            line-height: 85px;
            cursor: pointer;
            user-select: none;
            padding: 0 25px;
        }

        .lxg-market-container.inter-tableContentBase .market-title li.selected {
            border-bottom-width: 2px;
            border-bottom-style: solid;
        }

        .lxg-market-container.inter-tableContentBase .search {
            position: absolute;
            top: 15px;
            right: 20px;
            height: 28px;
            line-height: 26px;
            width: 200px;
            border-radius: 2px;
            backgorund: #fff;
            border: 1px solid #f6f6f6;
        }

        .lxg-market-container.inter-tableContentBase .search .icon-serach {
            margin: 0 10px;
        }

        .lxg-market-container.inter-tableContentBase .search .search-input {
            line-height: 26px;
            border: none;
            width: 165px;
        }

        .lxg-market-container.inter-tableContentBase .search input::-webkit-input-placeholder {
            color: #515a6b;
        }

        .lxg-market-container.inter-tableContentBase .table-body td .rose-label {
            display: inline-block;
            width: 70px;
            height: 24px;
            text-align: center;
            line-height: 24px;
            padding: 0;
        }

        .lxg-market-container.inter-tableContentBase .table-body td .symbolName,
        .lxg-market-container.inter-tableContentBase .table-body td .icon-btn {
            padding: 0;
            vertical-align: inherit;
            margin: 0;
            display: inline-block;
        }

        .lxg-market-container.inter-tableContentBase .table-body td .symbolName {
            width: 80%;
            margin-left: 10px;
        }

        .lxg-market-container.inter-tableContentBase .fontSize14 {
            font-size: 14px;
        }

        .lxg-market-container .home-nodata {
            height: 500px;
            padding: 160px 0 80px;
        }

        .lxg-market-container .symbol-icon {
            width: 32px;
            display: inline-block;
            margin-left: 10px!important;
        }

        .lxg-market-container .symbol-icon img {
            width: 100%;
            vertical-align: middle;
        }

        .lxg-market-container .marketIcon .icon {
            font-size: 24px;
        }

        .lxg-market-container .coin-label {
            display: none !important;
        }

        .lxg-market-container .even {
            text-align: left !important;
        }

        .lxg-market-container .evenSymbol {
            font-weight: block;
            margin-left: 16px !important;
        }

        .lxg-market-container .evenSymbol i {
            color: #828ea1;
            margin-left: 5px;
        }

        .lxg-market-container .lxg-title-block {
            border-bottom: 1px solid #e2e9ef;
            padding: 18px 24px 18px 14px;
            font-size: 16px;
            color: #999;
            position: relative;
        }

        .lxg-market-container .lxg-title-block .tab {
            padding: 0 16px 11px 16px;
            margin-right: 24px;
            cursor: pointer;
        }

        .lxg-market-container .lxg-title-block .active {
            color: #222;
            border-bottom: 4px solid #0756b6;
        }

        .lxg-market-container .lxg-title-block .checkAll-btn {
            cursor: pointer;
            position: absolute;
            width: 120px;
            box-sizing: border-box;
            height: 40px;
            line-height: 38px;
            border: 1px solid #0756b6;
            color: #0756b6;
            font-size: 14px;
            padding: 0 0 0 13px;
            right: 24px;
            bottom: 14px;
            border-radius: 4px;
            background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAAJCAYAAADpeqZqAAAAAXNSR0IArs4c6QAAAKdJREFUGBljZMAD2MO3KTP8Z1jPzMbk/m2Jx3OYUiYYAxv9c6XXXSYGpiV/f/87wBWzQxKmhhHGwEdzhu0o+8f4L5mZlckBZCMjZ8TO8H///wnj0wSVS2Fg+M/NzcJgyvL/319tJkZGgpr+/2cQYGBkZPnNzMpKhAUMDBwR29M4wrY95Ijao0S2BrwBAQpyRgbGPQzMrM4/lrncI8oWkKLQVf+Z0RUDAAQNMlf3pYq7AAAAAElFTkSuQmCC) 90px center no-repeat;
        }

        .lxg-market-container .lxg-title-block .checkAll-btn:hover {
            color: rgb(255, 255, 255);
            background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAAJCAYAAADpeqZqAAAAAXNSR0IArs4c6QAAAGdJREFUGBljYMAD/v//rwzEl4BYEo8yTCmghjIgvkmxRhagCeFA84Ux7UAR+QLkfQXiA0D1pixAhjYQE9IEVMIgAMQg9awgDkEAND0NiB8CsRJBxSAF5GgABfl9om2AOQOogRnGhtEA5kdKQHKxeiAAAAAASUVORK5CYII=) 90px center no-repeat rgb(7, 86, 182);
        }
        .home-table .recommend-item {
            line-height: 85px;
            border-bottom: 1px solid #e2e9ef;
            box-sizing: border-box;
        }
        .home-table .recommend-item .td-item {
            float: left;
            font-size: 14px;
            box-sizing: border-box;
            min-height: 10px;
        }
        .home-table .recommend-item .td-item1 {
            width: 15px!important;
            padding-left:0;
        }
        .home-table .recommend-item .td-item2 {
            width: 200px!important;
            padding-left: 70px;
            color: #aebacd;
            font-weight: 700;
            text-align: left!important;
        }
        .home-table .recommend-item .td-item2 .q-cion {
            margin-left: 5px;
            color: #828ea1;
        }
        .home-table .recommend-item .td-item3 {
            padding-top: 0!important;
            width: 140px!important;
        }
        .home-table .recommend-item .td-item4,
        .home-table .recommend-item .td-item5,
        .home-table .recommend-item .td-item6,
        .home-table .recommend-item .td-item7,
        .home-table .recommend-item .td-item8 {
            width: 134px!important;
        }
        .home-table .recommend-item .td-item-kline {
            width: 90px!important;
            padding-top: 30px;
            margin-right: 40px;
        }
        .home-table .recommend-item .td-item-btn button {
            background: #3f78ff;
            border-radius: 4px;
            width: 70px;
            height: 40px;
            line-height: 40px;
            text-align: center;
            font-size: 14px;
            color: #fff;
        }
        .home-table .recommend-item .td-item-btn button:hover {
            background: #5b8cff;
        }
        .home-table .recommend-item .b-cion {
            color: #31363e;
        }
        .home-table .recommend-item .symbol-icon {
            margin-left: 0;
        }
        .home-table .recommend-item .symbol-icon img {
            vertical-align: middle;
            width: 32px;
            height: 32px;
        }
        .home-table .recommend-item.title-th {
            height: 40px;
            box-sizing: border-box;
            line-height: 40px;
        }
        .home-table .recommend-item.title-th .td-item {
            font-size: 14px;
            color: #aebacd;
            box-sizing: border-box;
        }
        .home-table .recommend-item.title-th .td-item2 {
            padding-left: 70px;
            font-weight: normal;
        }
        .home-table .recommend-item.title-th .td-item-kline {
            padding: 0;
        }
        .home-table .recommend-item.title-th:hover {
            background: #fff;
            box-shadow: none;
            border-radius: 0;
            margin: 0;
            padding: 0;
        }
        .home-table .more {
            height: 60px;
            line-height: 60px;
            text-align: center;
        }
        .home-table .more span {
            font-size: 16px;
            color: #3f78ff;
            cursor: pointer;
        }
        .home-table .more span:hover {
            color: #5b8cff;
        }
        .home-table .more:hover {
            background: #fff;
            border-radius: 4px;
            margin: 0 -10px;
            padding: 0 10px;
        }
        .home-table .lxg-title-block {
            border-bottom: 1px solid #e2e9ef;
            padding: 0 24px 18px 24px;
            font-size: 16px;
            color: #999;
        }
        .home-table .lxg-title-block .tab {
            padding: 0 10px 10px 10px;
            margin-right: 16px;
            cursor: pointer;
        }
        .home-table .lxg-title-block .active {
            color: #222;
            border-bottom: 4px solid #0756b6;
        }


    </style>
    <div class="market-table inter-tableContentBase">
        <div class="lxg-title-block"></div>
        <div class="home-table market-table">
            <ul class="home-thead recommend-item">
            </ul>
            <div class="home-loading">
                <div class="loading-page">
                    {% import "../loading/loading.njk" as loading %}
                    {{ loading.boxStyle(size=45) }}
                </div>
            </div>
            <div>
                <div class="home-nodata" style="display: none">
                    <svg class="icon icon-50" aria-hidden="true">
                        <use xlink:href="#icon-g_2"></use>
                    </svg>
                    <p>
                        <!-- 暂无数据 -->
                        {{locale.common.notData}}
                    </p>
                </div>
                <div class="home-tbody-box recommend-item" style="display: none">
                </div>
            </div>
        </div>
    </div>
    <script>
        (function () {
            const {myStorage, getScript} = window.BlockChainUtils;
            const extendPath = "{{sourceMap.lxgMarketExtend}}";
            const websocketPath = "{{sourceMap.webSocket}}";
            if (!window.echarts) {
                getScript("{{sourceMap.staticDomain}}/home/static/js/echarts.min.js").then(() => {
                    if (extendPath && !window.MarketExtend) {
                        getScript(`${window.staticDomain}/home/static/${extendPath}`).then(() => {
                            class Market extends window.MarketExtend {
                                constructor() {
                                    super();
                                    this.headerSymbol = "{{headerSymbol}}".split(',');
                                    this.headerMap = {};
                                    if (this.headerSymbol.length) {
                                        this.headerSymbol.forEach((item) => {
                                            this.headerMap[item] = true;
                                        });
                                    }
                                    this.$tableContent = document.querySelector('#table-content');
                                    this.$lxgTitle = this.$tableContent.querySelector('.lxg-title-block');
                                    this.$marketTitle = this.$tableContent.querySelector('.market-title');
                                    this.$homeThead = this.$tableContent.querySelector('.home-thead');
                                    this.$homeLoading = this.$tableContent.querySelector('.home-loading');
                                    this.$homeNodata = this.$tableContent.querySelector('.home-nodata');
                                    this.$homeTbody = this.$tableContent.querySelector('.home-tbody-box');
                                    this.$searchInput = this.$tableContent.querySelector('.search-input');
                                    this.optional_symbol_server_open = Number('{{switch.optional_symbol_server_open}}');
                                    this.hoverClass = 'c-8-bg u-16-cl';
                                    this.tableListOverClass = 'hoverClass';
                                    this.liColor = '';
                                    this.liBorder = '';
                                    this.isLogin = window.isLogin;
                                    this.filId = 0;
                                    this.locale = {
                                        marketSet: "{{locale.home.marketSet}}",
                                        halving: "{{locale.trade.halving}}",
                                        maincon: '{{locale.trade.maincon}}',
                                        newcon: '{{locale.trade.newcon}}',
                                        seecon: '{{locale.trade.seecon}}',
                                        unseal: '{{locale.trade.unseal}}',
                                        hot: '{{locale.home.hot}}',
                                        all: '{{locale.home.allSymbol}}',
                                    };
                                    // this.tableBg = 'c-2-bg';
                                    this.tableDataList = {};
                                    this.listfilter = null;
                                    this.symbolAll = [];
                                    this.marketDataList_bar = [];
                                    this.MainAreaData = [];
                                    this.CreateAreaData = [];
                                    this.SeeAreaData = [];
                                    this.hideAreaData = [];
                                    this.unsealAreaData = [];
                                    this.halveAreaData = [];
                                    this.MainAreaFilter = []; // 主区币种
                                    this.CreateAreaFilter = []; // 创新区币种
                                    this.SeeAreaFilter = []; // 观察区币种
                                    this.hideAreaFilter = []; // 隐藏区币种,
                                    this.unsealAreaFilter = []; // 解封区币种
                                    this.halveAreaFilter = []; // 减半区币种
                                    this.createIng = false;
                                    this.lxg = true;
                                    this.klineColor = '#9CA1C2';
                                    this.myEcharts = {};
                                    this.market = [];
                                    this.setMyMarketSwitch = true;
                                    this.tableTreeData = null;
                                    this.rebuild = false;
                                    this.tableTree = null;
                                    this.firstLoad = false;
                                    this.sortValue = 'sort';
                                    this.sortSell = false;
                                    this.marketCurrent = 'USDT';
                                    this.allKeyLine = {};
                                    this.lineWidth = 1;
                                    this.missKline = [];
                                    this.columns = [
                                        {
                                            title: '{{locale.home.market}}', // 市场
                                            key: 'sort',
                                            sortable: true,
                                        },
                                        {
                                            title: '{{locale.home.close}}', // 最新价
                                            key: 'closes',
                                            sortable: true,
                                        },
                                        {
                                            title: '{{locale.home.applies}}', // 涨跌幅
                                            key: 'roses',
                                            sortable: true,
                                        },
                                        {
                                            title: '{{locale.home.Kline}}'
                                        },
                                        {
                                            title: '{{locale.home.height}}', // 最高价
                                        },
                                        {
                                            title: '{{locale.home.low}}', // 最低价
                                        },
                                        {
                                            title: '{{locale.home.H_volume}}', // 24H成交量
                                        },
                                        {
                                            title: '{{locale.home.H_turnover}}', // 24小时成交额
                                        },
                                    ];
                                    this.hotColumns = [
                                        {
                                            title: '#'
                                        },
                                        {
                                            title: '{{locale.home.market}}', // 市场
                                        },
                                        {
                                            title: '{{locale.home.close}}', // 最新价
                                        },
                                        {
                                            title: '{{locale.home.applies}}', // 涨跌幅
                                        },
                                        {
                                            title: '{{locale.home.Kline}}'
                                        },
                                        {
                                            title: '{{locale.home.height}}', // 最高价
                                        },
                                        {
                                            title: '{{locale.home.low}}', // 最低价
                                        },
                                        {
                                            title: '{{locale.home.H_volume}}', // 24H成交量
                                        },
                                        {
                                            title: '{{locale.home.H_turnover}}', // 24小时成交额
                                        },
                                    ];
                                    if (this.lxg) {
                                        myStorage.set('homeMarkTitle', 'USDT');
                                    }

                                    window.emitter.on('RECOMMEEND_DATA', (data) => {
                                        this.recommendData = data.recommendDataList;
                                        if (this.filId === 'hot'){
                                            this.changeHotTable(this.recommendData);
                                        }
                                    });
                                    window.emitter.on('MARKET-DATA', (data, init) => {
                                        if (init) {
                                            this.rebuild = true;
                                        }
                                        this.initTable(data);
                                    });

                                    window.emitter.on('send_market', (data) => {
                                        this.init(data);
                                    });
                                    window.emitter.on('ALL_RECOMMEEND_KLINE_DATA', (data) => {
                                        const coin = Object.keys(data)[0];
                                        this.allKeyLine[coin] = data[coin];
                                        this.renderAllkeyLine(coin);
                                    });
                                    window.emitter.on('RECOMMEEND_KLINE_DATA', (data) => {
                                        const coin = Object.keys(data)[0];
                                        this.allKeyLine[coin] = data[coin];
                                        if (this.filId === 'hot'){
                                            this.setKLineData(coin);
                                        }
                                    });
                                }
                            }

                            if (websocketPath && !window.selfSocket) {
                                getScript(`${window.staticDomain}/home/static/${websocketPath}`);
                            }
                            new Market();
                        });
                    }
                    if (websocketPath && !window.selfSocket) {
                        window.selfSocket = true;
                        getScript(`${window.staticDomain}/home/static/${websocketPath}`);
                    }
                });
            }
        })();

    </script>
</div>
