<div class="recommend" id="recommend">
    <style>
        .recommend {
            width: 100%;
            height: 150px;
            overflow: hidden;
            position: relative;
            z-index: 9;
            margin-top: 24px;
        }

        .recommend .recommendType {
            position: relative;
            display: inline-block;
        }

        .recommend .recommendType .coin-label {
            position: absolute;
            right: -6px;
            transform: translateX(100%);
            top: -9px;
            white-space: nowrap;
            display: inline-block;
            font-size: 12px;
            font-weight: 400;
            padding: 0 4px;
            border-radius: 2px;
            line-height: 17px;
        }

        .recommend .recommendType .coin-label .coin-label {
            position: relative;
            z-index: 1;
            margin: 0;
            padding: 0;
        }

        .recommend .recommendType .coin-label .coin-bg {
            display: inline-block;
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            opacity: 0.2;
        }

        .recommend .recommend-wrap {
            height: 100%;
            margin: 0 auto;
        }

        .recommend .recommend-wrap .recommend-content {
            width: 280px;
            height: 150px;
            box-shadow: 0 5px 5px 2px rgba(0, 0, 0, 0.04);
            float: left;
            position: relative;
            margin-right: 20px;
            border-radius: 2px;
        }

        .recommend .recommend-wrap .recommend-content:last-child {
            margin-right: 0;
        }

        .recommend .recommend-wrap .recommend-content .hvol {
            padding: 16px 20px 0 18px;
        }

        .recommend .recommend-wrap .recommend-content .hvol.links {
            cursor: pointer;
        }

        .recommend .recommend-wrap .recommend-content .recommendTop {
            display: flex;
            justify-content: space-between;
            font-family: PingFangSC-Regular;
            font-size: 14px;
            line-height: 20px;
        }

        .recommend .recommend-wrap .recommend-content .recommendPrice {
            font-family: PingFangSC-Regular;
            font-size: 22px;
            line-height: 38px;
        }

        .recommend .recommend-wrap .recommend-content .recommendTime {
            font-family: PingFangSC-Regular;
            font-size: 12px;
            line-height: 20px;
        }

        .recommend .scroll-btn {
            position: absolute;
            top: 50%;
            margin-top: -35px;
            width: 40px;
            height: 70px;
            text-align: left;
            line-height: 70px;
            cursor: pointer;
            display: none;
        }

        .recommend .scroll-btn em {
            position: relative;
            z-index: 10;
            margin: 0 0 0 4px;
            vertical-align: sub;
        }

        .recommend .scroll-btn .bg {
            display: block;
            width: 70px;
            height: 70px;
            top: 0;
            position: absolute;
            opacity: 0.8;
            border-radius: 100%;
        }

        .recommend .scroll-btn:hover .bg {
            opacity: 1;
        }

        .recommend .scroll-btn.next {
            right: 0;
            text-align: right;
        }

        .recommend .scroll-btn.next em {
            margin: 0 4px 0 0;
        }

        .recommend .scroll-btn.next .bg {
            left: 0;
        }

        .recommend .scroll-btn.next .icon {
            transform: rotate(180deg)translate(0, -20px);
            display: inline-block;
        }

        .recommend .scroll-btn.prev .icon {
            transform: translate(0, 20px);
        }

        .recommend .scroll-btn.prev {
            left: 0;
        }

        .recommend .scroll-btn.prev .bg {
            right: 0;
        }
    </style>
    <div class="recommend-wrap" data-style="{{helper.recommend.itemWidth(headerSymbol.length) }}" style="transition-timing-function: cubic-bezier(0.1, 0.57, 0.1, 1); transition-duration: 600ms; transform: translate3d(0px, 0px, 0px);display: none;">
            {% for item in headerSymbol %}
            <div class="recommend-content c-4-bg c-3-cl-h" data-coin="{{item}}">
                <div class="hvol links f-2-cl">
                    <div class="recommendTop">
                        <div class="recommendType">
                            {{helper.recommend.getCoinShowName(item, symbolAll)}}
                            <div class="coin-label" style="display: none">
                                <span class="coin-text a-12-cl"></span>
                                <span class="coin-bg a-12-bg"></span>
                            </div>
                        </div>
                        <span class="percentage">--</span>
                    </div>
                    <div class="recommendPrice f-1-cl">--</div>
                    <p class="recommendTime">--</p>
                </div>
                <div>
                    <div class="echart-box" style="height: 50px"></div>
                </div>
            </div>
            {% endfor %}
    </div>
    <span @click="scrollRecommend('prev')"
            class="scroll-btn prev">
      <em>
        <svg class="icon icon-24" aria-hidden="true">
          <use xlink:href="#icon-e_11"></use>
        </svg>
      </em>
      <i class="bg c-1-bg"></i>
    </span>
    <span @click="scrollRecommend('next')"
            class="scroll-btn next">
      <em>
        <svg class="icon icon-24" aria-hidden="true">
          <use xlink:href="#icon-e_11"></use>
        </svg>
      </em>
      <i class="bg c-1-bg"></i>
    </span>
    <script>
        (() => {
            const extendPath = "{{sourceMap.recommendExtend}}";
            const {getScript} = window.BlockChainUtils;
            const websocketPath = "{{sourceMap.webSocket}}";
            if (extendPath && !window.RecommendExtend){
                getScript(`${window.staticDomain}/home/static/${extendPath}`).then(() => {
                    class Recommend extends window.RecommendExtend{
                        constructor() {
                            super();
                            this.$recommend = document.querySelector('#recommend');
                            this.echartsPath = "{{sourceMap.staticDomain}}/home/static/js/echarts.min.js";
                            this.setWarpWdith = true;
                            this.liItemWidth = 310;
                            this.haveBg = true;
                            this.init();
                        }
                    }
                    new Recommend();
                });
            }
            if (websocketPath && !window.selfSocket){
                window.selfSocket = true;
                getScript(`${window.staticDomain}/home/static/${websocketPath}`);
            }
        })();
    </script>
</div>
