<section class="inter-recommend inter-recommend-international c-4-bg c-5-bd">
    <style>
        .inter-recommend.inter-recommend-international {
            height: 120px;
            width: 100%;
            box-sizing: border-box;
            overflow: hidden;
            border-bottom-width: 1px;
            border-bottom-style: solid;
        }
        .inter-recommend.inter-recommend-international .ulCenter {
            margin-left: 50%;
            transform: translateX(-50%);
        }
        .inter-recommend.inter-recommend-international .recommend-even {
            width: 310px;
            padding: 25px 20px;
            box-sizing: border-box;
            float: left;
            height: 120px;
            position: relative;
            cursor: pointer;
        }
        .inter-recommend.inter-recommend-international .recommend-even .bl {
            height: 70px;
            width: 1px;
            position: absolute;
            left: 0;
            top: 25px;
        }
        .inter-recommend.inter-recommend-international .recommend-even:first-child .bl {
            width: 0;
        }
        .inter-recommend.inter-recommend-international .symbol {
            font-size: 14px;
            position: relative;
            display: inline-block;
        }
        .inter-recommend.inter-recommend-international .symbol .coin-label {
            position: absolute;
            right: -6px;
            transform: translateX(100%);
            top: -9px;
            white-space: nowrap;
            display: inline-block;
            font-size: 12px;
            font-weight: 400;
            padding: 0 4px;
            border-radius: 2px;
            line-height: 17px;
        }
        .inter-recommend.inter-recommend-international .symbol .coin-label .coin-label {
            position: relative;
            z-index: 1;
            margin: 0;
            padding: 0;
        }
        .inter-recommend.inter-recommend-international .symbol .coin-label .coin-bg {
            display: inline-block;
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            opacity: 0.2;
        }
        .inter-recommend.inter-recommend-international .price {
            font-size: 22px;
            margin-top: 10px;
        }
        .inter-recommend.inter-recommend-international .volume {
            font-size: 12px;
            margin-top: 10px;
        }
        .inter-recommend.inter-recommend-international .rose {
            position: absolute;
            right: 20px;
            top: 25px;
            font-size: 14px;
        }
        .inter-recommend.inter-recommend-international .kline {
            width: 90px;
            height: 32px;
            position: absolute;
            bottom: 36px;
            right: 20px;
        }
        .play{
            -webkit-animation: 60s rowup linear infinite normal;
            animation: 60s rowup linear infinite normal;
        }
        .pause{
            animation-play-state: paused;
        }

    </style>
    <ul class="recommend-ul clearfix recommend-wrap ulCenter" style="display: none">
        {% for item in headerSymbol %}
            <li class="recommend-even recommend-content" data-coin="{{item}}">
                <div class="c-5-bg bl"></div>
                <div class="symbol">
                    {{helper.recommend.getCoinShowName(item, symbolAll)}}
                    <div class="coin-label" style="display: none">
                        <span class="coin-text a-12-cl"></span>
                        <span class="coin-bg a-12-bg"></span>
                    </div>
                </div>
                <div class="price b-1-cl recommendPrice"></div>
                <div class="volume recommendTime"></div>
                <div class="rose percentage"></div>
                <div class="kline">
                    <div class="echart-box" style="height: 32px"></div>
                </div>
            </li>
        {% endfor %}
        {% if headerSymbol.length > 4%}
        {% for item in headerSymbol %}
        <li class="recommend-even recommend-content cloned" data-coin="{{item}}-c">
            <div class="c-5-bg bl"></div>
            <div class="symbol">
                {{helper.recommend.getCoinShowName(item, symbolAll)}}
            </div>
            <div class="price b-1-cl recommendPrice">{{ item.price }}</div>
            <div class="volume recommendTime">24H Vol {{ item.volume }}</div>
            <div class="rose percentage">{{ item.roseVal }}</div>
            <div class="kline">
                <div class="echart-box" style="height: 32px"></div>
            </div>
        </li>
        {% endfor %}
        {% endif%}
    </ul>
    <script>
        (() => {
            const extendPath = "{{sourceMap.recommendExtend}}";
            const {getScript} = window.BlockChainUtils;
            const websocketPath = "{{sourceMap.webSocket}}";
            if (extendPath && !window.RecommendExtend){
                getScript(`${window.staticDomain}/home/static/${extendPath}`).then(() => {
                    class Recommend extends window.RecommendExtend{
                        constructor() {
                            super();
                            this.$recommend = document.querySelector('.inter-recommend-international');
                            this.echartsPath = "{{sourceMap.staticDomain}}/home/static/js/echarts.min.js";
                            this.liItemWidth = 310;
                            this.setWarpWdith = true;
                            this.init();
                        }
                    }
                    new Recommend();
                });
            }
            if (websocketPath && !window.selfSocket){
                window.selfSocket = true;
                getScript(`${window.staticDomain}/home/static/${websocketPath}`);
            }
        })();
    </script>
</section>
