<section class="inter-recommend momo-recommend-international">
    <style>
        .inter-recommend.momo-recommend-international {
            height: 220px;
            width: 100%;
            box-sizing: border-box;
            overflow: hidden;
            background: #fff;
        }
        .inter-recommend.momo-recommend-international .ulCenter {
            margin-left: 50%;
            transform: translateX(-50%);
            margin-top: 50px;
        }
        .inter-recommend.momo-recommend-international .recommend-even {
            width: 300px;
            padding: 25px 20px;
            box-sizing: border-box;
            float: left;
            height: 120px;
            position: relative;
            cursor: pointer;
        }
        .inter-recommend.momo-recommend-international .recommend-even .bl {
            height: 70px;
            width: 1px;
            position: absolute;
            left: 0;
            top: 25px;
            background: #f6f6f6;
        }
        .inter-recommend.momo-recommend-international .recommend-even:first-child .bl {
            width: 0;
        }
        .inter-recommend.momo-recommend-international .symbol {
            font-size: 14px;
            color: #6e738e;
        }
        .inter-recommend.momo-recommend-international .price {
            font-size: 22px;
            margin-top: 10px;
            color: #31363e;
        }
        .inter-recommend.momo-recommend-international .volume {
            font-size: 12px;
            margin-top: 10px;
            color: #9a99a5;
        }
        .inter-recommend.momo-recommend-international .rose {
            position: absolute;
            right: 20px;
            top: 25px;
            font-size: 14px;
        }
        .inter-recommend.momo-recommend-international .kline {
            width: 90px;
            height: 32px;
            position: absolute;
            bottom: 36px;
            right: 20px;
        }
        .play{
            -webkit-animation: 60s rowup linear infinite normal;
            animation: 60s rowup linear infinite normal;
        }
        .pause{
            animation-play-state: paused;
        }

    </style>
    <ul class="recommend-ul clearfix recommend-wrap ulCenter" style="display: none">
        {% for item in headerSymbol %}
        <li class="recommend-even recommend-content" data-coin="{{item}}">
            <div class="bl"></div>
            <div class="symbol">
                {{helper.recommend.getCoinShowName(item, symbolAll)}}
            </div>
            <div class="price b-1-cl recommendPrice">{{ item.price }}</div>
            <div class="volume recommendTime">24H Vol {{ item.volume }}</div>
            <div class="rose percentage">{{ item.roseVal }}</div>
            <div class="kline">
                <div class="echart-box" style="height: 32px"></div>
            </div>
        </li>
        {% endfor %}
        {% if headerSymbol.length > 4%}
        {% for item in headerSymbol %}
        <li class="recommend-even recommend-content cloned" data-coin="{{item}}-c">
            <div class="bl"></div>
            <div class="symbol">
                {{helper.recommend.getCoinShowName(item, symbolAll)}}
            </div>
            <div class="price b-1-cl recommendPrice">{{ item.price }}</div>
            <div class="volume recommendTime">24H Vol {{ item.volume }}</div>
            <div class="rose percentage">{{ item.roseVal }}</div>
            <div class="kline">
                <div class="echart-box" style="height: 32px"></div>
            </div>
        </li>
        {% endfor %}
        {% endif%}
    </ul>
    <script>
        (() => {
            const extendPath = "{{sourceMap.recommendExtend}}";
            const {getScript} = window.BlockChainUtils;
            const websocketPath = "{{sourceMap.webSocket}}";
            if (extendPath && !window.RecommendExtend){
                getScript(`${window.staticDomain}/home/static/${extendPath}`).then(() => {
                    class Recommend extends window.RecommendExtend{
                        constructor() {
                            super();
                            this.$recommend = document.querySelector('.momo-recommend-international');
                            this.echartsPath = "{{sourceMap.staticDomain}}/home/static/js/echarts.min.js";
                            this.liItemWidth = 300;
                            this.setWarpWdith = true;
                            this.init();
                        }
                    }
                    new Recommend();
                });
            }
            if (websocketPath && !window.selfSocket){
                window.selfSocket = true;
                getScript(`${window.staticDomain}/home/static/${websocketPath}`);
            }
        })();
    </script>
</section>
