<div class="homes b-2-cl Chainer">
    <style>
        .homes .home-alert .noclick {
            margin-left: 50%;
            margin-top: 20px;
            display: inline-block;
            transform: translate3d(-50%, 0, 0);
        }
        .homes .home-alert .noclick .noclick-text {
            margin-left: 10px;
            font-size: 12px;
            cursor: pointer;
            user-select: none;
        }
        .homes .home-alert .home-alert-all {
            position: fixed;
            width: 100%;
            height: 100%;
            z-index: 1000;
            top: 0;
            left: 0;
        }
        .homes .home-alert .alert-button {
            margin-left: 50%;
            transform: translate3d(-50%, 0, 0);
        }
        .homes .home-alert .home-alert-body-warning {
            margin-top: 10px;
            font-size: 12px;
        }
        .homes .home-alert .home-alert-body-text {
            font-size: 14px;
            line-height: 22px;
        }
        .homes .home-alert .home-alert-body-title {
            font-size: 14px;
            line-height: 22px;
            margin-bottom: 10px;
        }
        .homes .home-alert .home-alert-body {
            padding: 30px;
        }
        .homes .home-alert .home-alert-content {
            width: 600px;
            min-height: 580px;
            position: fixed;
            left: 50%;
            top: 50%;
            z-index: 1001;
            transform: translate3d(-50%, -50%, 0);
        }
        .homes .home-alert .home-alert-bg {
            height: 214px;
            width: 100%;
        }
        .homes .home-alert .home-alert-title {
            padding-left: 30px;
            padding-top: 20px;
            font-size: 16px;
        }
        .homes .home-alert .alert-close {
            position: absolute;
            right: 20px;
            top: 10px;
            cursor: pointer;
        }
        .homes .swipers {
            width: 100%;
            border-radius: 10px;
        }
        .homes .home-custom-template {
            margin-top: 120px;
            width: 100%;
        }
        .homes .home-container {
            width: 100%;
            text-align: center;
        }
        .homes .home-container .home-header {
            padding-top: 120px;
        }
        .homes .home-container .block-title {
            font-size: 32px;
            line-height: 32px;
        }
        .homes .home-container .info {
            margin-top: 20px;
            font-size: 14px;
        }
        .homes .home-container .mark {
            margin-top: 20px;
            font-size: 16px;
            line-height: 16px;
        }
        .homes .home-container .down-btn {
            margin-top: 30px;
        }
        .homes .home-container .down-btn .btn {
            border-width: 1px;
            border-style: solid;
            border-radius: 2px;
            height: 38px;
            line-height: 38px;
            text-align: center;
            width: 160px;
            display: inline-block;
            margin: 0 10px;
            cursor: pointer;
            font-size: 12px;
            user-select: none;
        }
        .homes .home-container .down-btn .btn .hoverShow {
            display: none;
        }
        .homes .home-container .down-btn .btn:hover .hoverShow {
            display: inline-block;
        }
        .homes .home-container .down-btn .btn:hover .hoverHide {
            display: none;
        }
        .homes .home-container .down-btn i {
            display: inline-block;
            width: 24px;
            vertical-align: middle;
            height: 26px;
            user-select: none;
        }
        .homes .home-container .down-btn i.android {
            background-position: -38px 0;
        }
        .homes .home-container .bg-img {
            margin: 0 0 144px 0;
            background-repeat: repeat-x;
            background-position: 0 bottom;
            height: 625px;
            position: relative;
        }
        .homes .home-container .bg-img-bar {
            position: relative;
            width: 726px;
            height: 496px;
            margin: 0 auto;
            padding-bottom: 30px;
        }
        .homes .home_edit_imga,
        .homes .home_edit_imgb {
            background-repeat: repeat-x;
            background-position: 0 bottom;
            position: absolute;
            bottom: -70px;
        }
        .homes .home_edit_imga {
            width: 868px;
            height: 559px;
            position: absolute;
            bottom: -80px;
        }
        .homes .home_edit_imgb {
            position: absolute;
            bottom: -140px;
            left: -94px;
            width: 215px;
            height: 402px;
        }
        .homes .home-container .product {
            width: 1180px;
            margin: 70px auto 0;
            padding-bottom: 120px;
            height: 300px;
        }
        .homes .home-container .pro-item {
            width: 200px;
            height: 300px;
            padding: 0 40px;
            float: left;
            margin-right: 20px;
            text-align: left;
            border-radius: 2px;
        }
        .homes .home-container .pro-item:last-child{
            margin-right: 0;
        }
        .homes .home-container .pro-item .pro-img {
            width: 78px;
            height: 90px;
            margin: 40px 0 0;
        }
        .homes .bg-icon {
            background-repeat: no-repeat;
        }
        .homes .home-container .pro-item .pro-tit {
            font-size: 16px;
            margin-top: 40px;
        }
        .homes .home-container .pro-item .pro-text {
            margin-top: 14px;
            font-size: 14px;
            text-align: left;
            line-height: 24px;
        }
        .homes .footer-bootom {
            padding: 70px 0 0;
            height: 229px;
            border-bottom-width: 1px;
            border-bottom-style: solid;
            text-align: center;
        }
        .homes .footer-bootom .button-box {
            width: 180px;
            height: 40px;
            line-height: 40px;
            position: relative;
            text-align: center;
            display: inline-block;
            border-radius: 2px;
            margin-top: 36px;
        }
        .homes .footer-bootom .button-box .button-hover-bg {
            width: 100%;
            height: 40px;
            display: none;
            border-radius: 2px;
        }
        .homes .footer-bootom .button-box:hover .button-hover-bg {
            display: block;
        }
        .homes .footer-bootom .button-box .button {
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
        }
        .homes .japanese-header .register-info input {
            color: #31363e !important;
        }
        .homes .japanese-swipers .carousel-items {
            background-color: transparent !important;
            top: auto;
            bottom: 65px;
        }
        .homes .japanese-swipers .carousel-items span {
            background-color: rgba(255,255,255,0.3);
            height: 12px !important;
            width: 12px !important;
            margin-right: 10px;
        }
        .homes .japanese-swipers .carousel-items span:last-of-type {
            margin-right: 0;
        }
        .homes .japanese-swipers .jp-active {
            background-color: #fff !important;
        }
        .homes .japanese .navsBase {
            margin-bottom: 46px;
            height: auto;
            padding-top: 83px;
        }
        .homes .japanese .navsBase .title {
            color: #31363e;
            font-size: 36px;
        }
        .homes .japanese .navsBase .mess {
            font-size: 16px;
            color: #828ea1;
            text-align: center;
            line-height: 16px;
        }
        .homes .japanese .exchange-top {
            background: #0046bb;
            background-image: linear-gradient(-179deg, #0046bb 0%, #083687 100%);
            padding-top: 145px;
            padding-bottom: 106px;
        }
        .homes .japanese .exchange-top h1 {
            font-size: 36px;
            color: #fff;
            text-align: center;
            margin-bottom: 20px;
        }
        .homes .japanese .exchange-top p {
            font-size: 16px;
            color: #fff;
            text-align: center;
            margin-bottom: 55px;
        }
        .homes .japanese .exchange-top .exchange-img-region {
            text-align: center;
        }
        .homes .japanese .exchange-top .img-box {
            display: inline-block;
        }
        .homes .japanese .exchange-top .img-box:nth-child(1) {
            margin-right: 50px;
        }
        .homes .japanese .exchange-top .img-box p {
            font-size: 16px;
            color: #fff;
            text-align: center;
            line-height: 18px;
        }
        .homes .japanese .exchange-top .exchange-top-img {
            width: 72px;
            height: 72px;
        }
        .homes .japanese .register-step {
            padding-top: 108px;
            padding-bottom: 80px;
            height: 1344px;
        }
        .homes .japanese .register-step h1 {
            font-size: 36px;
            color: #31363e;
            text-align: center;
            margin-bottom: 20px;
        }
        .homes .japanese .register-step p {
            font-size: 16px;
            color: #828ea1;
            text-align: center;
            margin-bottom: 60px;
        }
        .homes .japanese .register-step .step-list {
            width: 744px;
            margin: 0 auto;
            position: relative;
        }
        .homes .japanese .register-step .step-list li {
            position: absolute;
        }
        .homes .japanese .register-step .step-list li:nth-child(1) {
            top: 0;
            left: -15px;
            width: 205px;
        }
        .homes .japanese .register-step .step-list li:nth-child(2) {
            top: 70px;
            right: 15px;
            width: 380px;
        }
        .homes .japanese .register-step .step-list li:nth-child(2) h1 {
            text-align: left;
        }
        .homes .japanese .register-step .step-list li:nth-child(2) p {
            text-align: left;
        }
        .homes .japanese .register-step .step-list li:nth-child(3) {
            top: 350px;
            right: 0;
            width: 205px;
        }
        .homes .japanese .register-step .step-list li:nth-child(4) {
            top: 520px;
            left: 10px;
            width: 380px;
        }
        .homes .japanese .register-step .step-list li:nth-child(4) h1 {
            text-align: right;
        }
        .homes .japanese .register-step .step-list li:nth-child(4) p {
            text-align: right;
        }
        .homes .japanese .register-step .step-list li:nth-child(4) h3 span {
            float: right;
        }
        .homes .japanese .register-step .step-list li:nth-child(5) {
            top: 800px;
            left: -15px;
            width: 205px;
        }
        .homes .japanese .register-step .step-list li:nth-child(6) {
            top: 998px;
            right: 15px;
            width: 380px;
        }
        .homes .japanese .register-step .step-list li:nth-child(6) h1 {
            text-align: left;
        }
        .homes .japanese .register-step .step-list li:nth-child(6) p {
            text-align: left;
        }
        .homes .japanese .register-step .step-list h1 {
            font-size: 26px;
            color: #31363e;
            margin-bottom: 22px;
        }
        .homes .japanese .register-step .step-list h3 {
            margin-bottom: 22px;
        }
        .homes .japanese .register-step .step-list h3 span {
            font-size: 30px;
            color: #2480f5;
            border-bottom: 4px solid #31363e;
            width: 40px;
            float: left;
            padding-bottom: 10px;
        }
        .homes .japanese .register-step .step-list p {
            font-size: 16px;
            color: #828ea1;
        }
        .homes .japanese .register-step .step-list img {
            width: 251px;
            height: 456px;
        }
        .homes .japanese .product-region {
            width: 1376px;
            height: 765px;
            margin: 0 auto;
            margin-top: 71px;
            position: relative;
        }
        .homes .japanese .product-region li {
            position: absolute;
            width: 264px;
        }
        .homes .japanese .product-region li h1 {
            font-size: 20px;
            color: #31363e;
            text-align: center;
            margin-bottom: 10px;
        }
        .homes .japanese .product-region li p {
            font-size: 16px;
            color: #828ea1;
            text-align: center;
            line-height: 28px;
        }
        .homes .japanese .product-region li:nth-child(1) {
            top: 200px;
            left: 100px;
        }
        .homes .japanese .product-region li:nth-child(2) {
            top: 110px;
            left: 400px;
        }
        .homes .japanese .product-region li:nth-child(3) {
            top: 110px;
            left: 710px;
        }
        .homes .japanese .product-region li:nth-child(4) {
            top: 200px;
            left: 1010px;
        }
        .homes .japanese .account-step {
            padding-top: 122px;
            background: #f8f8f8;
            padding-bottom: 108px;
        }
        .homes .japanese .account-step h1 {
            font-size: 36px;
            color: #31363e;
            text-align: center;
            margin-bottom: 22px;
        }
        .homes .japanese .account-step p {
            font-size: 16px;
            color: #828ea1;
            text-align: center;
        }
        .homes .japanese .account-step .step-list {
            width: 1100px;
            margin: 0 auto;
            margin-top: 90px;
        }
        .homes .japanese .account-step .step-list li {
            float: left;
            width: 240px;
            height: 360px;
        }
        .homes .japanese .account-step .step-list li:nth-child(even) {
            width: 160px;
            height: 360px;
            position: relative;
        }
        .homes .japanese .account-step .step-list li:nth-child(even) .arrow-img {
            height: 50px;
            width: 56px;
            margin-bottom: 0;
            position: absolute;
            top: 137px;
            right: 20px;
        }
        .homes .japanese .account-step .step-list img {
            width: 240px;
            height: 140px;
            margin-bottom: 47px;
        }
        .homes .japanese .account-step .step-list p {
            font-size: 16px;
            color: #31363e;
            text-align: center;
            line-height: 20px;
        }
        .homes .japanese .account-step .step-list .title {
            line-height: 40px;
            font-size: 24px;
            color: #31363e;
            text-align: center;
        }
        .homes .japanese .account-step .step-list .title span {
            width: 40px;
            height: 40px;
            border-radius: 20px;
            background: #2480f5;
            display: inline-block;
            text-align: center;
            font-size: 24px;
            color: #fff;
            margin-bottom: 52px;
        }
        .photo-fade-enter-active {
            transition: all 0.6s ease;
        }
        .photo-fade-leave-active {
            transition: all 0.6s cubic-bezier(1, 0.5, 0.8, 1);
        }
        .photo-fade-enter,
        .photo-fade-leave-to {
            transform: translateY(100px);
            opacity: 0;
        }
        .photo-fade-tow-enter-active {
            transition: all 0.6s 0.5s ease;
        }
        .photo-fade-tow-leave-active {
            transition: all 0.6s 0.5s cubic-bezier(1, 0.5, 0.8, 1);
        }
        .photo-fade-tow-enter,
        .photo-fade-tow-leave-to {
            transform: translateY(100px);
            opacity: 0;
        }

        .home-bg {
            padding-left: 38px;
            padding-right: 38px;
            padding-bottom: 59px;
            background-color: #fff;
            border-radius: 10px;
        }
    </style>
    <div class="home-bg">
        {% include "./noticeInfo/china.njk" %}
        {% include "./service/banner.njk" %}
        {% include "./market/china.njk" %}
    </div>
    <div>
        {% include "./service/portfolio.njk" %}
        {% include "./service/products.njk" %}
        {% include "./service/trading.njk" %}
    </div>
    <script></script>
</div>

